apps/chaos-generator/n8n/traffic-and-chaos.workflow.json
{
  "name": "SRE Sidekick - Traffic & Chaos Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 20
            }
          ]
        }
      },
      "id": "a1000000-0000-4000-8000-000000000001",
      "name": "Every 20s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -260,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// SCENARIO GENERATOR - this is the heart of the chaos engine.\n// Edit WEIGHTS here to change how often each scenario appears.\n// tier 0 = healthy, 1 = benign anomaly, 2 = common failure,\n// tier 3 = rare/complex, 4 = rare-of-the-rare.\n// ============================================================\nconst CATALOG = [\n  {\n    \"id\": \"happy_path\",\n    \"tier\": 0,\n    \"weight\": 0.45,\n    \"duration_s\": 300\n  },\n  {\n    \"id\": \"happy_cache_hit\",\n    \"tier\": 0,\n    \"weight\": 0.1,\n    \"duration_s\": 300\n  },\n  {\n    \"id\": \"happy_multi_tool\",\n    \"tier\": 0,\n    \"weight\": 0.07,\n    \"duration_s\": 300\n  },\n  {\n    \"id\": \"slow_but_ok\",\n    \"tier\": 1,\n    \"weight\": 0.06,\n    \"duration_s\": 300\n  },\n  {\n    \"id\": \"retry_once_success\",\n    \"tier\": 1,\n    \"weight\": 0.04,\n    \"duration_s\": 300\n  },\n  {\n    \"id\": \"cache_miss_slow\",\n    \"tier\": 1,\n    \"weight\": 0.03,\n    \"duration_s\": 300\n  },\n  {\n    \"id\": \"mild_token_overage\",\n    \"tier\": 1,\n    \"weight\": 0.03,\n    \"duration_s\": 300\n  },\n  {\n    \"id\": \"empty_optional_tool\",\n    \"tier\": 1,\n    \"weight\": 0.02,\n    \"duration_s\": 300\n  },\n  {\n    \"id\": \"tool_5xx\",\n    \"tier\": 2,\n    \"weight\": 0.03,\n    \"duration_s\": 300\n  },\n  {\n    \"id\": \"llm_rate_limit_429\",\n    \"tier\": 2,\n    \"weight\": 0.025,\n    \"duration_s\": 240\n  },\n  {\n    \"id\": \"db_slow_query\",\n    \"tier\": 2,\n    \"weight\": 0.02,\n    \"duration_s\": 300\n  },\n  {\n    \"id\": \"api_timeout\",\n    \"tier\": 2,\n    \"weight\": 0.02,\n    \"duration_s\": 240\n  },\n  {\n    \"id\": \"llm_timeout\",\n    \"tier\": 2,\n    \"weight\": 0.015,\n    \"duration_s\": 240\n  },\n  {\n    \"id\": \"auth_token_expired\",\n    \"tier\": 2,\n    \"weight\": 0.01,\n    \"duration_s\": 300\n  },\n  {\n    \"id\": \"db_pool_exhausted\",\n    \"tier\": 3,\n    \"weight\": 0.012,\n    \"duration_s\": 360\n  },\n  {\n    \"id\": \"retry_storm\",\n    \"tier\": 3,\n    \"weight\": 0.01,\n    \"duration_s\": 300\n  },\n  {\n    \"id\": \"token_explosion\",\n    \"tier\": 3,\n    \"weight\": 0.01,\n    \"duration_s\": 300\n  },\n  {\n    \"id\": \"cascading_failure\",\n    \"tier\": 3,\n    \"weight\": 0.008,\n    \"duration_s\": 420\n  },\n  {\n    \"id\": \"gray_partial_outage\",\n    \"tier\": 3,\n    \"weight\": 0.008,\n    \"duration_s\": 420\n  },\n  {\n    \"id\": \"vector_empty_silent_hallucination\",\n    \"tier\": 3,\n    \"weight\": 0.007,\n    \"duration_s\": 360\n  },\n  {\n    \"id\": \"model_fallback_degraded\",\n    \"tier\": 3,\n    \"weight\": 0.005,\n    \"duration_s\": 300\n  },\n  {\n    \"id\": \"poison_cache\",\n    \"tier\": 4,\n    \"weight\": 0.005,\n    \"duration_s\": 480\n  },\n  {\n    \"id\": \"prompt_injection_attempt\",\n    \"tier\": 4,\n    \"weight\": 0.004,\n    \"duration_s\": 300\n  },\n  {\n    \"id\": \"duplicate_execution\",\n    \"tier\": 4,\n    \"weight\": 0.003,\n    \"duration_s\": 300\n  },\n  {\n    \"id\": \"gradual_degradation\",\n    \"tier\": 4,\n    \"weight\": 0.003,\n    \"duration_s\": 600\n  },\n  {\n    \"id\": \"silent_data_corruption\",\n    \"tier\": 4,\n    \"weight\": 0.003,\n    \"duration_s\": 360\n  },\n  {\n    \"id\": \"dependency_deadlock\",\n    \"tier\": 4,\n    \"weight\": 0.002,\n    \"duration_s\": 300\n  }\n];\n\nconst HEALTHY = CATALOG.filter(s => s.tier <= 1);\n\nfunction weightedPick(pool) {\n  const total = pool.reduce((a, s) => a + s.weight, 0);\n  let r = Math.random() * total;\n  for (const s of pool) { r -= s.weight; if (r <= 0) return s; }\n  return pool[pool.length - 1];\n}\n\nconst sd = $getWorkflowStaticData('global');\nconst now = Date.now();\n\n// Expire a finished incident\nif (sd.activeIncident && now > sd.activeIncident.until) {\n  sd.lastIncident = { ...sd.activeIncident, ended_at: new Date().toISOString() };\n  sd.activeIncident = null;\n}\nconst incident = sd.activeIncident || null;\n\n// Burst size: realistic jitter so traffic is never perfectly flat\nconst burst = 3 + Math.floor(Math.random() * 6);\nconst out = [];\n\nfor (let i = 0; i < burst; i++) {\n  let chosen;\n  let injected = false;\n\n  if (incident && Math.random() < (incident.blast_radius ?? 0.6)) {\n    chosen = CATALOG.find(s => s.id === incident.scenario_id) || CATALOG[0];\n    injected = true;\n  } else {\n    chosen = incident ? weightedPick(HEALTHY) : weightedPick(CATALOG);\n  }\n\n  out.push({\n    json: {\n      request_id: 'req_' + Math.random().toString(36).slice(2, 12),\n      session_id: 'sess_' + Math.random().toString(36).slice(2, 8),\n      user_id: 'user_' + (1 + Math.floor(Math.random() * 40)),\n      scenario_id: chosen.id,\n      tier: chosen.tier,\n      injected,\n      incident_id: incident ? incident.incident_id : null,\n      emitted_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn out;"
      },
      "id": "a1000000-0000-4000-8000-000000000002",
      "name": "Pick Scenarios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://agent-gateway:8080/agent/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a1000000-0000-4000-8000-000000000003",
      "name": "Run Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chaos",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000004",
      "name": "Chaos Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -260,
        260
      ],
      "webhookId": "b2000000-0000-4000-8000-000000000004"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// CHAOS CONTROLLER\n// POST /webhook/chaos  { \"scenario_id\": \"db_pool_exhausted\",\n//                       \"duration_s\": 300, \"blast_radius\": 0.6 }\n// POST /webhook/chaos  { \"action\": \"clear\" }\n// POST /webhook/chaos  { \"action\": \"status\" }\n// Holds a SUSTAINED incident so SigNoz alert thresholds actually breach.\n// ============================================================\nconst body = $input.first().json.body || $input.first().json || {};\nconst sd = $getWorkflowStaticData('global');\nconst now = Date.now();\n\nif (sd.activeIncident && now > sd.activeIncident.until) sd.activeIncident = null;\n\nif (body.action === 'clear') {\n  const was = sd.activeIncident;\n  sd.activeIncident = null;\n  return [{ json: { ok: true, cleared: true, was } }];\n}\n\nif (body.action === 'status') {\n  return [{ json: { ok: true, active: sd.activeIncident || null, last: sd.lastIncident || null } }];\n}\n\nif (!body.scenario_id) {\n  return [{ json: { ok: false, error: 'scenario_id required (or action: clear|status)' } }];\n}\n\nconst duration_s = Number(body.duration_s) || 300;\nsd.activeIncident = {\n  incident_id: 'inc_' + Math.random().toString(36).slice(2, 10),\n  scenario_id: body.scenario_id,\n  blast_radius: body.blast_radius != null ? Number(body.blast_radius) : 0.6,\n  started_at: new Date().toISOString(),\n  until: now + duration_s * 1000\n};\n\nreturn [{ json: { ok: true, incident: sd.activeIncident } }];"
      },
      "id": "a1000000-0000-4000-8000-000000000005",
      "name": "Set Incident",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        260
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000006",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        200,
        260
      ]
    }
  ],
  "connections": {
    "Every 20s": {
      "main": [
        [
          {
            "node": "Pick Scenarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Scenarios": {
      "main": [
        [
          {
            "node": "Run Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chaos Webhook": {
      "main": [
        [
          {
            "node": "Set Incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Incident": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}